/* Swee info on bottom of sidebar in settings page */
.info-3pQQBb::after {
    content: "Swee v1.0";
    text-transform: none !important;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
}
